.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #4470c7;
}

.nav p {
  font-weight: 500;
  font-size: 1.5vw;
  text-decoration: underline;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid red;
  width: 50%;
}

.navLinks a {
  font-weight: 500;
  margin: 0 0 0 10%;
  font-size: 1vw;
}

.hamburger {
  border: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
}
