.contentWrapper {
  display: flex;
  margin: 1% 0 1% 0;
  flex-direction: column;
  padding: 0 6%;
  width: 100%;

  position: relative;
}

.desktopSvg {
  width: 100%;
  height: auto;
}

.mobileSvg {
  display: none;
}

.svgWrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.textWrapper {
  margin: 3% 0;
  padding: 0 4%;
  width: 100%;

  display: relative;
}

.textWrapper p {
  text-align: start;
  font-size: 0.7vw;
  font-weight: 600;
}

/* MOBILE STYLES */

/* BELOW 381 PIXELS SHRINKING MUST BE DISABLED*/
@media (min-width: 341px) {
  /* .svg {
  } */
}

@media (min-width: 430px) {
  .paragraph {
    position: relative;
    margin-left: 0;
  }
}

@media (max-width: 538px) {
}

@media (min-width: 538px) {
}

/* TABLET */

@media (max-width: 604px) {
  .desktopSvg {
    display: none;
  }

  .mobileSvg {
    height: fit-content;
    width: auto;
    display: block;
  }
}

@media (min-width: 604px) {
}

/* DESKTOP */

@media (min-width: 1008px) {
}
